@model CodeezTech.POS.Web.DAL.EntityDataModel.POS_CASHIER_COUNTER

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>POS_CASHIER_COUNTER</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.COUNTER_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COUNTER_ID)
                    @Html.ValidationMessageFor(model => model.COUNTER_ID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.COUNTER_DESC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COUNTER_DESC)
                    @Html.ValidationMessageFor(model => model.COUNTER_DESC)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PC_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PC_NAME)
                    @Html.ValidationMessageFor(model => model.PC_NAME)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IP_ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IP_ADDRESS)
                    @Html.ValidationMessageFor(model => model.IP_ADDRESS)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MAC_ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MAC_ADDRESS)
                    @Html.ValidationMessageFor(model => model.MAC_ADDRESS)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BRANCH_ID)
                    @Html.ValidationMessageFor(model => model.BRANCH_ID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ISACTIVE_FLAG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISACTIVE_FLAG)
                    @Html.ValidationMessageFor(model => model.ISACTIVE_FLAG)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ISPOSTED_FLAG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISPOSTED_FLAG)
                    @Html.ValidationMessageFor(model => model.ISPOSTED_FLAG)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CREATEDBY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CREATEDBY)
                    @Html.ValidationMessageFor(model => model.CREATEDBY)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MODIFIEDBY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MODIFIEDBY)
                    @Html.ValidationMessageFor(model => model.MODIFIEDBY)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CREATEDWHEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CREATEDWHEN)
                    @Html.ValidationMessageFor(model => model.CREATEDWHEN)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MODIFIEDWHEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MODIFIEDWHEN)
                    @Html.ValidationMessageFor(model => model.MODIFIEDWHEN)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
