@model CodeezTech.POS.Web.DAL.EntityDataModel.POS_COMPANY

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>POS_COMPANY</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.COMPANY_ID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.COMPANY_CODE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COMPANY_CODE)
                    @Html.ValidationMessageFor(model => model.COMPANY_CODE)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.COMPANY_DESC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COMPANY_DESC)
                    @Html.ValidationMessageFor(model => model.COMPANY_DESC)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.LOGO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LOGO)
                    @Html.ValidationMessageFor(model => model.LOGO)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.HTTP_HOST_ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HTTP_HOST_ADDRESS)
                    @Html.ValidationMessageFor(model => model.HTTP_HOST_ADDRESS)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.NTN_NO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NTN_NO)
                    @Html.ValidationMessageFor(model => model.NTN_NO)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.REGISTEREDBY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.REGISTEREDBY)
                    @Html.ValidationMessageFor(model => model.REGISTEREDBY)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ISACTIVE_FLAG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISACTIVE_FLAG)
                    @Html.ValidationMessageFor(model => model.ISACTIVE_FLAG)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ISPOSTED_FLAG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISPOSTED_FLAG)
                    @Html.ValidationMessageFor(model => model.ISPOSTED_FLAG)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CREATEDBY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CREATEDBY)
                    @Html.ValidationMessageFor(model => model.CREATEDBY)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MODIFIEDBY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MODIFIEDBY)
                    @Html.ValidationMessageFor(model => model.MODIFIEDBY)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CREATEDWHEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CREATEDWHEN)
                    @Html.ValidationMessageFor(model => model.CREATEDWHEN)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MODIFIEDWHEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MODIFIEDWHEN)
                    @Html.ValidationMessageFor(model => model.MODIFIEDWHEN)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsMultipleBranch, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsMultipleBranch)
                    @Html.ValidationMessageFor(model => model.IsMultipleBranch)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsWarehouse, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsWarehouse)
                    @Html.ValidationMessageFor(model => model.IsWarehouse)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsWarehouseStock, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsWarehouseStock)
                    @Html.ValidationMessageFor(model => model.IsWarehouseStock)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsWarehouseTracking, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsWarehouseTracking)
                    @Html.ValidationMessageFor(model => model.IsWarehouseTracking)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsWarehouseShipment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsWarehouseShipment)
                    @Html.ValidationMessageFor(model => model.IsWarehouseShipment)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsVendor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsVendor)
                    @Html.ValidationMessageFor(model => model.IsVendor)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsVendorShipment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsVendorShipment)
                    @Html.ValidationMessageFor(model => model.IsVendorShipment)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsDisplayTracking, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsDisplayTracking)
                    @Html.ValidationMessageFor(model => model.IsDisplayTracking)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsRFQ, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsRFQ)
                    @Html.ValidationMessageFor(model => model.IsRFQ)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsAccounting, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsAccounting)
                    @Html.ValidationMessageFor(model => model.IsAccounting)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsCashierCounter, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsCashierCounter)
                    @Html.ValidationMessageFor(model => model.IsCashierCounter)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsPromotion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPromotion)
                    @Html.ValidationMessageFor(model => model.IsPromotion)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsPaymentSystem, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPaymentSystem)
                    @Html.ValidationMessageFor(model => model.IsPaymentSystem)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
